link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
link(href='/stylesheets/style.css' rel="stylesheet")
link(href='/stylesheets/bootstrap.css' rel="stylesheet")
link(href='stylesheets/bootstrap-theme.css' rel="stylesheet")
script(src="/javascripts/jquery.min.js")
script(src="/javascripts/bootstrap.min.js")
//- script(src="/javascripts/del.js")